.first{
	position:fixed;
		z-index:2;
}
.second{
	position:fixed;
		z-index:1;
}
.cat {
	position:absolute;
		left:0vw;
  padding: 10px;
  background: #876;
}
.fall {
	position:absolute;
		left:50vw;
  padding: 10px;
  background: #f80;
}

img:hover {
	width: 400px;
	height: 400px;
}
